<li id="<%= book.id %>" class="book">
    <img src=<%= book.image_url %> alt=Cover for <%= book.title %> />
    <h2><%= book.title %></h2>
    <h3>by <%= book.author %></h3>
    <p><%= book.description %></p>
    <p><%= book.isbn %></p>
    <p><%= book.bookshelf %></p>
</li>