<!DOCTYPE html>
<html>
<%- include('../../layout/head') %>

<body>
  <%- include('../../layout/header') %>

  <main id="show-book-details">
    <ul class="show-add-form">
      <li>
        <%- include('detail', {book: bookDetails}) %>
        <form action="/delete-book/<%= bookDetails.id %>" method="post">
          <input type="hidden" name="_method" value="DELETE">
          <button type="submit">Delete Book</button>
        </form>
        <button type="button">Update Details</button>

        <form action="/update-book-in-database/<%= bookDetails.id %>" method="post" class="hidden">
          <input type="hidden" name="_method" value="PUT">
          <input type="text" name="title" value="<%= bookDetails.title %>" />
          <input type="text" name="author" value="<%= bookDetails.author %>" />
          <input type="text" name="isbn" value="<%= bookDetails.isbn %>" />
          <input type="text" name="image_url" value="<%= bookDetails.image_url %>" />
          <input type="textarea" name="description" value="<%= bookDetails.description %>" />
          <select name="bookshelf">
            <% shelfList.forEach((shelf) => { %>
            <option value="<%= shelf.bookshelf %>"><%= shelf.bookshelf %></option>
            <% }) %>
          </select>
          <button type="button">Hide Form</button>
          <button type="submit">Submit Updates</button>
        </form>
      </li>
    </ul>
  </main>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="/js/app.js"></script>
</body>

</html>