<!DOCTYPE html>
<html>
  <%- include('../../layout/head') %>

<body>
  <%- include('../../layout/header') %>
  <main id="search-results-page">
    <h1>Search Results</h1>
    
    <ul class="show-add-form">
      <% bookListVarialbeNameOnEJS.forEach(book => { %>
        <li>
          <img src=<%= book.image_url %> alt=Cover for <%= book.title %> />
          <h2><%= book.title %></h2>
          <h3>by <%= book.author %></h3>
          <p><%= book.description %></p>
          <button type="button">Select this Book</button>

          <form action="/add-book-to-database" method="post" class="hidden">
            <input type="text" name="title" value="<%= book.title %>" />
            <input type="text" name="author" value="<%= book.author %>" />
            <input type="text" name="isbn" value="<%= book.isbn %>" />
            <input type="text" name="image_url" value="<%= book.image_url %>" />
            <input type="textarea" name="description" value="<%= book.description %>" />
            <input type="text" name="bookshelf" value="<%= book.bookshelf %>" />
            <button type="button">Hide Form</button>
            <button type="submit">Add to Database</button>
          </form>
        </li>
      <% }) %>
    </ul>
  </main>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="/js/app.js"></script>
</body>
</html>