<!DOCTYPE html>
<html>
    <%- include('../layout/head') %>

<body>
  <%- include('../layout/header') %>

  <main id="show-books-from-database-page">
    <h1>Your Books</h1>
    <p>Number of books you have saved <%= numberOfBooksSaved %></p>

    <ul>
      <% savedBooksFromDatabase.forEach(book => { %>
        <li id="<%= book.id %>" class="book">
          <%- include('books/detail', {book: book}) %>
          <a href="/book-details/<%= book.id %>">View Details</a>
        </li>
      <% }) %>
    </ul>
  </main>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
</body>

</html>