<!DOCTYPE html>
<html>

<head>
  <title>Book App with David and Evan</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="styles/reset.css" type="text/css" rel="stylesheet" />
  <link href="styles/base.css" type="text/css" rel="stylesheet" />
  <link href="styles/layout.css" type="text/css" rel="stylesheet" />
  <link href="styles/modules.css" type="text/css" rel="stylesheet" />
  <link href="styles/icons.css" type="text/css" rel="stylesheet" />
</head>

<body>
  <h1>Search Results</h1>
  
  <ul>
    <% bookListVarialbeNameOnEJS.forEach(book => { %>
      <li>
        <img src="<%= book.image_url %>" alt="Cover for <%= book.title %>" />
        <p><%= book.image_url %></p>
        <h2><%= book.title %></h2>
        <h3>by <%= book.author %></h3>
        <p><%= book.description %></p>
        <button type="submit">Select this Book</button>

      </li>
    <% }) %>
  </ul>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
</body>
</html>